.downloads {
  min-height: 200px;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;

  &:hover {
    &::-webkit-scrollbar-thumb {
      display: initial;
    }
  }
}

.downloads::-webkit-scrollbar {
  width: 4px;
}

.downloads::-webkit-scrollbar-thumb {
  display: none;
  background-color: var(--chrome-primary-color);
}