.title {
  cursor: default;
  background: var(--color-secondary);
  color: var(--color-text);
  border-bottom: 6px solid #ebeff9;
  display: inline;
  border: 0;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  display: block;
  padding: 12px 0;
}

.clear {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 3px 8px;
  background: transparent;
  border: 0;
  outline: 0;
  margin: 0 5px 0 0;
  font-size: 12px;
  color: var(--color-text);
  border: 1px solid var(--color-button-border);
  border-radius: 4px;

  &:hover {
    border-color: var(--color-link-hover);
    background-color: transparent;
  }

  &:active {
    background: var(--color-link-active);
  }
}

.showAll {
  display: block;
  text-align: center;
  padding: 12px 0;
  text-decoration: none;
  z-index: 2;
  position: relative;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  display: block;
  background: var(--color-secondary);
  color: var(--color-text);
  font-size: 13px;

  &:hover {
    border: 2px solid var(--color-border);
    color: var(--color-link-hover);
  }

  &:active {
    border: 2px solid var(--color-border);
    color: var(--color-link-active);
  }
}